body{

margin:0;
padding:0;
font-family:Arial, Helvetica, sans-serif;
background:#f2f2f2;

display:flex;
justify-content:center;
align-items:center;

height:100vh;

}

.container{

background:white;

padding:30px;

width:420px;

border-radius:10px;

box-shadow:0 0 15px rgba(0,0,0,.2);

}

h1{

text-align:center;
margin-bottom:25px;

}

.converter{

display:flex;

margin-bottom:15px;

}

.converter input{

flex:1;

padding:12px;

font-size:16px;

}

.converter select{

padding:12px;

font-size:15px;

}

button{

width:100%;

padding:12px;

font-size:16px;

background:#007bff;

color:white;

border:none;

cursor:pointer;

border-radius:5px;

}

button:hover{

background:#0056b3;

}

#rate{

text-align:center;

margin-top:20px;

font-weight:bold;

}

#error{

text-align:center;

color:red;

margin-top:10px;

}